<p id="notice"><%= notice %></p>

<p>
  <strong>Lattitude:</strong>
  <%= @station.lattitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @station.longitude %>
</p>

<p>
  <strong>Name:</strong>
  <%= @station.name %>
</p>

<p>
  <strong>Radius:</strong>
  <%= @station.radius %>
</p>

<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
